<sl-alert variant="<%= alert.variant %>" open>
    <sl-icon slot="icon" name="info-circle"></sl-icon>
    <strong>
        <%= alert.message %>
    </strong>
    <div>
        <%= alert.detail %>
    </div>
</sl-alert>