<form method="POST" action="/message" class="msg-form">
    <div class="input-wrapper">
        <sl-textarea name="message" label=" Message">
        </sl-textarea>
        <sl-button type="submit">Send Message</sl-button>
    </div>
</form>