<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/light.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/shoelace-autoloader.js"
    ></script>
    <title>Members Only</title>
  </head>
  <body>
    <main>
      <h2>Welcome Home, sir Arthur</h2>
    </main>
  </body>
</html>
