<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title: "House" }) %>

  <body>
    <main>
      <% if (locals.user) { %>
        <h2>Welcome Back, <%= user.username %>
        </h2>
        <% } else { %>
          <h2>Welcome to our club, Guest</h2>
          <% } %>
            <div class="footer">
              <form action="/logout" method="post">
                <sl-button type="submit" variant="text">Logout</sl-button>
              </form>
            </div>
    </main>

  </body>

</html>