<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title: "Members Only" }) %>

  <body>
    <main>
      <div class="index-container">
        <h1>
          members <br />
          only
        </h1>
        <form action="/sign-in" method="post">
          <sl-alert variant="warning">
            <sl-icon slot="icon" name="info-circle"></sl-icon>
            <strong></strong>
          </sl-alert>
          <sl-card class="login-container">
            <sl-input name="Username" label="Username" clearable></sl-input>
            <sl-input name="Password" type="password" label="Password" password-toggle clearable>
            </sl-input>
            <sl-button type="submit" variant="primary">Sign In</sl-button>
            <sl-button href="/house" variant="text">Continue as a Guest</sl-button>
          </sl-card>
        </form>
        <div class="footer">
          <div>Don't have account yet?</div>
          <span><a href="/sign-up">Create!</a></span>
        </div>
      </div>
    </main>
  </body>

</html>