<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title: "Members Sign Up" }) %>

  <body>
    <main>
      <div class="index-container">
        <h1>join us</h1>
        <form class="auth-form" action="/sign-up" method="post">
          <% if (locals.alert) { %>
            <%- include("partials/alert", { alert }) %>
              <% } %>
                <sl-card class="login-container">
                  <sl-input name="username" label="Username" clearable>
                    <% if (locals.validationErrors) { %>
                      <div slot="help-text" class="help-text-container">
                        <sl-icon name="exclamation-diamond"></sl-icon>
                        <span></span>
                      </div>
                      <% } %>
                  </sl-input>
                  <sl-input name="password" type="password" label="Password" password-toggle clearable>
                    <% if (locals.validationErrors) { %>
                      <div slot="help-text" class="help-text-container">
                        <sl-icon name="exclamation-diamond"></sl-icon>
                        <span></span>
                      </div>
                      <% } %>
                  </sl-input>
                  <sl-button type="submit" variant="primary">Sign Up</sl-button>
                </sl-card>
        </form>
        <div class="footer">
          <a href="/sign-in">Return</a>
        </div>
      </div>
    </main>
  </body>

</html>