<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: `Error ${response.status}` }) %>

  <body>
    <main class="error-container">
      <div>
        <h1>Oops! Something went wrong</h1>
        <div>
          <%= response.status %> : <%= response.message %>
        </div>
      </div>
      <a href="/"> Return home </a>
    </main>
  </body>

</html>