:root {
  font-family: var(--sl-font-mono);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: var(--sl-font-size-2x-large);
  font-weight: var(--sl-font-weight-semibold);
}

.container {
  height: 100%;
  display: grid;
  place-content: center;
}

/* Error Page */
.error-container {
  height: 100%;
  display: grid;
  gap: 1.5rem;
  place-content: center;
  justify-items: center;
}

.error-container > div {
  text-align: center;
}
