:root {
  font-family: var(--sl-font-mono);
}

body {
  margin: 0;
  padding: 0;
  opacity: 0;
}

body.ready {
  opacity: 1;
  transition: 0.25s opacity;
}

main.entry {
  height: 100vh;
}

/* Index */
h1,
h2 {
  text-align: center;
  letter-spacing: var(--sl-letter-spacing-loose);
  font-weight: var(--sl-font-weight-semibold);
}

h1 {
  font-size: var(--sl-font-size-3x-large);
}

h2 {
  margin-top: 5rem;
}

/* Login Sing-in */
.index-container {
  height: 100%;
  display: grid;
  place-content: center;
  gap: var(--sl-spacing-3x-large);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-x-large);
}

sl-card.login-container::part(body) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-x-large);
  --padding: var(--sl-spacing-2x-large);
}

.login-container sl-input::part(form-control-help-text) {
  color: red;
  margin-top: 0.5rem;
}

.login-container sl-input > div {
  display: flex;
  align-items: flex-start;
  gap: var(--sl-spacing-x-small);
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--sl-spacing-x-small);
}

/* Messageboard */
ul,
li {
  padding: 0;
  margin: 0;
}

main.club {
  min-height: 80vh;
  padding: 1rem 2rem;
  margin-bottom: 6rem;
}

.board-wrapper {
  height: 100%;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.message-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin: 100px auto;
  max-width: 1440px;
}

.user {
  color: #2a6f97;
}

.timestamp {
  color: #4d90b8;
}

.message {
  background-color: #fafafa;
  color: #333333;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.info {
  text-align: center;
}

/* Message Form */
.msg-form {
  background-color: #fafafa;
  color: #333333;
  border: 1px solid #e0e0e0;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.msg-form > .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Alert */
.club sl-alert::part(base) {
  margin: 0 auto;
}

.entry sl-alert::part(base) {
  min-width: 360px;
}

/* Error Page */
.error-container {
  height: 100vh;
  display: grid;
  gap: var(--sl-spacing-x-large);
  place-content: center;
  justify-items: center;
}

.error-container > div {
  text-align: center;
}
